<h1>Contact List</h1>
<a href="/contact"><button class="btn btn-primary" ng-click="deselectContact()">Add</button></a><br>
<pagination total-items="contactList.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
<div class="contactlist">
	<table class="table-striped">
		<thead>
			<tr>
				<th>
					<i class="fa fa-user"></i>&nbsp;&nbsp;First Name
				</th>
				<th>
					<i class="fa fa-user"></i>&nbsp;&nbsp;Last Name
				</th>
				<th>
					<i class="fa fa-envelope"></i>&nbsp;&nbsp;Email
				</th>
				<th>
					<i class="fa fa-phone"></i>&nbsp;&nbsp;Phone
				</th>
				<th>
					<i class="fa fa-birthday-cake"></i>&nbsp;&nbsp;Birthday
				</th>
				<th>
					<i class="fa fa-camera"></i>&nbsp;&nbsp;Picture
				</th>
				<th>
					<i class="fa fa-users"></i>&nbsp;&nbsp;Groups
				</th>
				<th>
					<i class="fa fa-comment"></i>&nbsp;&nbsp;Comments
				</th>
				<th>
					<i class="fa fa-mouse-pointer"></i>&nbsp;&nbsp;Actions
				</th>
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="contact in contactList | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
				<td data-label="First Name">
					{{contact.firstname}}
				</td >
				<td data-label="Last Name">
					{{contact.lastname}}
				</td>
				<td data-label="Email">
					{{contact.email}}
				</td>
				<td data-label="Phone">
					{{contact.phone}}
				</td>
				<td data-label="Birthday">
					{{contact.birthday | date}}
				</td>
				<td data-label="Picture">
					<img ng-if="contact.profilepicture" class="round" ng-src='uploads/{{contact.profilepicture}}'/>
				</td>
				<td data-label="Groups">
					<p ng-repeat="group in contact.groups">
						{{group}}
					</p>
				</td>
				<td data-label="Comments">
					<p>{{contact.comments}}</p>
				</td>
				<td data-label="Actions">
					<button class="btn btn-danger" ng-click="confirmDelete(contact._id, $index + ((currentPage-1) * pageSize), contactList[$index + ((currentPage-1) * pageSize)].profilepicture)">
						Delete
					</button>
					<button class="btn btn-warning" ng-click="getContact(contact._id)">
						Edit
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<pagination total-items="contactList.length" ng-model="currentPage" items-per-page="pageSize"></pagination>