<footer class="footer-distributed">

	<div class="footer-right">		
		<a href="https://twitter.com/slickwebstudio"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/in/jose-delavalle-49aa7411a"><i class="fa fa-linkedin"></i></a>
		<a href="https://github.com/josedelavalle"><i class="fa fa-github"></i></a>
		<a href="https://codepen.io/josedelavalle"><i class="fa fa-codepen"></i></a>
	</div>

	<div class="footer-left">
		<p class="footer-links">
			<a href="http://ngstates.josedelavalle.com">ngStates</a>
			·
			<a href="http://ngpopulation.josedelavalle.com">ngPopulation</a>
			·
			<a href="http://ngnews.josedelavalle.com">ngNews</a>
			·
			<a href="http://nggallery.josedelavalle.com">ngGallery</a>
			·
			<a href="http://ngnasa.josedelavalle.com">ngNasa</a>
		</p>
		<p>Jose DeLavalle 2016</p>
	</div>

</footer>